{% extends 'base.html' %}
{% load static widget_tweaks %}
{% block title %}資料詳細{% endblock %}

{% block contents %}
<div class="container d-flex mt-5">
    <div class="container col-md-8">
        <h2>{{ object.title }}</h2>
        <p class="text-muted">{{ object.teacher }}・{{ object.created_at|date:'m月d日' }}</p>
        <hr class="border border-primary">
        <p class="mt-3">{{ object.content }}</p>

        <br>
        <!--      ファイルをダウンロードするボタンを出力  -->
        {% if object.file %}
            <a class="mb-3 btn btn-outline-primary mt-3" href="{{ object.file.url }}" download>添付ファイル：{{ object.file }}</a>
        {% else %}
        <p class="card-text text-danger">
            添付ファイルがありません。
        </p>
        {% endif %}
    {% if user.role == 'TEACHER' %}
        <div class="row row-cols-auto">
            <!--            削除ボタンゴミ箱-->
            <div class="col">
                <a href="{% url 'aula:material_delete' material.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-trash3-fill" viewBox="0 0 16 16">
                        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                    </svg>
                </a>
            </div>
            <!--            資料更新ボタンえんぴつ-->
            <div class="col">
                <a href="{% url 'aula:material_update' material.pk %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                         class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd"
                              d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>
                </a>
            </div>
        </div>
        {% endif %}

        <hr class="my-4">

        <div class="mt-4">
            <h4>クラスのコメント:</h4>

            <!-- コメント表示 -->
            <div class="mt-3">
                {% for comment in material.comments.all %}
                <div class="card mt-2">
                    <div class="card-body">
                        <div class="d-flex">
                            <p>{{ comment.user }}：</p>

                            <p class=" text-muted align-middle">{{ comment.create_at | date:'m月d日' }}</p>
                        </div>
                        <p class="card-text">{{ comment.content|linebreaksbr }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- コメントのフォーム -->
            <div class="mt-4">
                <form class="d-flex" action="{% url 'aula:material_comment' object.pk %}" method="post">
                    {% csrf_token %}
                    <div class="form-group me-2">
                        {{ comment_form.content|add_class:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">送信</button>
                </form>
            </div>
            <br>
        </div>
    </div>

    {% if object.teacher == user %}
    <div class="d-block container  col-md-4 mb-4 border border-secondary rounded-2">
        <div class="mt-3">
            {% for note in material.note.all %}
            <div class="card mt-2">
                <div class="card-body">
                    <div class="d-flex">
                        <p>{{ note.user }}：</p>

                        <p class=" text-muted align-middle">{{ note.create_at | date:'m月d日' }}</p>
                    </div>
                    <div>
                        <a href="{% url 'aula:note_update' note.pk %}"
                           class="btn btn-outline-secondary btn-sm">更新</a>
                        <a href="{% url 'aula:note_delete' note.pk %}"
                           class="btn btn-outline-danger btn-sm">削除</a>
                    </div>
                    <p class="card-text">{{ note.content|linebreaksbr }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="mt-4 mb-4">
            <form class="d-flex" action="{% url 'aula:material_note' object.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group me-2">
                    {{ note_form.content|add_class:"form-control" }}
                </div>
                <button type="submit" class="btn btn-primary">送信</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
